.error {
  /*font-size: 12px;*/
  color: #B00;
  background-color : #ffff00;
}

.log-reg {
  position: relative;
  width: 300px;
  margin-right:auto;
  margin-left:auto;
  border:1px solid #ccc;
  background-color: #0cc961;
}

.contacto {
  position: relative;
  width: 490px;
  margin-right:auto;
  margin-left:auto;
  border:1px solid #ccc;
  background-color: #0cc961;
}

.edit_perfil {
  position: relative;
  width: 400px;
  margin-right:auto;
  margin-left:auto;
  border:1px solid #ccc;
  background-color: #0cc961;
}


img {
	max-width: 100%;
  /*height: auto;*/
  margin-top: 15px;
}

legend {
	border : 1px #73ddad;
}

.login {
	margin-left: 60px;
	margin-right: 35px;
	margin-bottom: 15px;
}

.login2 {
  margin-left: 40px;
}

.fondoMenu {
  background-color: #c8e5bc;
}

.logo {
  margin-right:auto;
  margin-left:auto;
}

.centrado {
  text-align: center;
  width:100%;
}


.fondo {
  background: url(../img/fondo.png) fixed top left repeat;
}

.container {
  background: #c8e5bc;
}

.tabla_reg {
  border: 15px solid #0cc961;
}

.acercade {
  background-color: #a8e577;
}

.linea {
  display: inline;
  padding-right: 30px;
}